---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
---

<Layout title={`Foods | ${SITE.title}`}>
  <Header />
  <Main pageTitle="美食安利！" pageDesc="ohaaayooo和朋友们爱吃的东西">
    <!-- 一：Google My Maps 嵌入 -->
    <section>
      <h2 class="mb-4 text-2xl font-semibold">Oversea</h2>
      <a
        class="inline-block rounded bg-yellow-500 px-4 py-2 text-white transition hover:bg-red-600"
        href="https://maps.app.goo.gl/ZaLTKN6CqdmwKLpCA?g_st=ac"
        target="_blank"
        rel="noopener"
      >
        Google Map
      </a>
    </section>
    <!-- 二：高德地图链接 -->
    <section>
      <h2 class="mb-4 text-2xl font-semibold">China Mainland</h2>
      <a
        class="inline-block rounded bg-yellow-500 px-4 py-2 text-white transition hover:bg-red-600"
        href="https://guinness.autonavi.com/activity/2020CommonLanding/index.html?id=default&local=1&logId=&logParams=&gd_from=jinisi&schema=amapuri%3A%2F%2Fajx_favorites%2Ffolder%3Fdata%3D%257B%2522ugcId%2522%253A%252208305016850183066137%2522%252C%2522forceCustom%2522%253Atrue%252C%2522pathId%2522%253A6%252C%2522isCreatorShare%2522%253Atrue%257D&share_from=favorites_FavoriteFolder&share_from_type=AJX&share_type=image&share_lastClickSpm="
        target="_blank"
        rel="noopener"
      >
        Alimap
      </a>
    </section>
  </Main>
  <Footer />
</Layout>
