---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
---

<Layout title={`轻松愉快的歌单 | ${SITE.title}`} />
<Header />
<Main pageTitle="轻松愉快的歌单" pageDesc="ohaaayooo和他的小伙伴喜欢听的歌" />

<section id="calendar-section" class="mb-10">
  <iframe
    allow="autoplay *; encrypted-media *;"
    frameborder="0"
    height="450"
    style="width:100%;max-width:660px;overflow:hidden;background:transparent;"
    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
    src="https://embed.music.apple.com/cn/playlist/%E8%BD%BB%E6%9D%BE%E6%84%89%E5%BF%AB/pl.u-d2b05gWCblzYJr"
  ></iframe>
</section>

<Footer />
